/* [class*="col"] {
  padding: 1rem;
  background-color: #33b5e5;
  border: 2px solid #fff;
  color: #fff;
} */

body::before {
  display: block;
  content: "";
  height: 60px;
}

.navbar-collapse {
  background: transparent;
  border: none;
  padding: 0;
}

@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}
